<!DOCTYPE html>
<html class="has-navbar-fixed-top">
<head>
    <%- partial('common/head') %>
</head>
<body>
    <%- partial('common/navbar', { page }) %>
    <%- body %>
    <a id="rocket" href="#top" class="" ></a>
    <%- partial('common/footer') %>
    <%- partial('common/scripts') %>

    <% if (has_config('search.type')) { %>
    <%- partial('search/' + get_config('search.type')) %>
    <% } %>

    <script type="text/javascript" src="/js/gotop.js" async=""></script>

</body>
</html>